*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    padding: 0;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
/* global repeatable settings */

.flex {
    display: flex;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*standaryzacja rozmiarów treści w nawigacji linków*/

.header {
    border-bottom: 1px solid #e7e9fc;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
}
.logo-dark {
    color: #2e2f42;
}

.logo {
    color: #4d5ae5;
    margin-right: 76px;
}

/* global bulleted list */

ul {
    list-style-type: none;
}

/* navigation links */

.navigation-links .link {
    align-items: center;

    color: #2e2f42;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.li-nav {
    display: flex;
    padding: 24px 0;
}
.li-address {
    display: flex;
    align-items: center;
}

.navigation-list {
    gap: 40px;
    padding: 24 0px;
    display: flex;
    flex: start;
}
.navigation-links .link:hover {
    color: #404bbf;
}

.navigation-links .link:active {
    color: #404bbf;
}

/* address list */

.address-links {
    font-style: normal;
    list-style: none;
    padding: 24px 0;
}
.ul-alink {
    display: flex;
    align-items: center;
    gap: 40px;
}

.a-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.link:hover,
.a-link:hover {
    color: #404bbf;
}
.link:focus,
.a-link:focus {
    color: #404bbf;
}
.link:active,
.a-link:active {
    color: #404bbf;
}

/* hero image & main button */

.hero-container {
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-img {
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0;
}

.hero-text {
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0 auto;
    max-width: 496px;
    margin-bottom: 48px;
}

.main-button {
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.main-button:hover,
.main-button:active,
.main-button:focus {
    background-color: #404bbf;
}

/*section four features starts here */

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
}
.feature-list {
    width: calc((100% - 72px) / 4);
}
.ul-features {
    display: flex;
    gap: 24px;
}

/* section our team */

.main-header-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.advantage-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    width: calc((100% - 72px) / 4);
    display: inline-flex;
}
.member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    width: calc((100% - 72px) / 4);
    display: inline-flex;
    text-align: center;
}

.member-details {
    padding: 32px 16px;
    text-align: center;
}
.ul-team {
    display: flex;
    gap: 24px;
}
.li-member-list {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    margin-right: 24px;
}

.team-card-background {
    background-color: #ffffff;
    gap: 24px;
}

.p-section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.team-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-background {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-card-background {
    background-color: #ffffff;
    gap: 24px;
}
/* section our portfolio */

.gallery {
    padding-top: 120px;
    padding-bottom: 120px;
}

.project-card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    display: inline-flex;
}
.gallery-text {
    width: calc((100% - 48px) / 3);
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

    display: flex;
}
.gallery-text-custom {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.ul-gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.custom-margin {
    margin-bottom: 8px;
}
/* footer section */
.footer-settings {
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-background {
    background-color: #2e2f42;
}
.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}
.logo-white {
    color: #f4f4fd;
}

.footer-bright-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #2e2f42;
    max-width: 264px;
}
